<form role="form" action="//drupalfr.us8.list-manage.com/subscribe/post?u={{ account_hash }}&amp;id={{ mailing_list_hash }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
  <input type="text" placeholder="{{ 'Saisir votre email'|t }}" name="EMAIL" id="mce-EMAIL">
  <input value="{{ "S'inscrire"|t }}" name="subscribe" id="mc-embedded-subscribe" class="form-submit" type="submit">
  <div class="hidden">
    <input name="{{ anti_spam_token }}" tabindex="-1" value="" type="text">
  </div>
</form>
