<form role="form" action="//drupalfr.us8.list-manage.com/subscribe/post?u={{ account_hash }}&amp;id={{ mailing_list_hash }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  <div class="form-group">
    <div class="input-group">
      <input type="email" placeholder="{{ 'Saisir votre email'|t }}" name="EMAIL" class="form-control" id="mce-EMAIL" required>
      <span class="input-group-btn">
        <button type="submit" value="subscribe" id="mc-embedded-subscribe" class="button form-submit btn-primary btn icon-only" name="">
          <span class="sr-only">{{ 'Subscribe'|t }}</span>
          <span class="icon glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </div>
  <div class="hidden">
    <input name="{{ anti_spam_token }}" tabindex="-1" value="" type="text">
  </div>
</form>
