{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  'row',
] %}
<div{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('medium-12', 'column', 'offer') }}>
    <header>
        <div class="small-12 medium-8 column">
          {{ title_prefix }}
          {{ title }}
          {{ title_suffix }}

          {% if header %}
            {{ header }}
            <h2 class="h3">{% trans %}Toutes les offres Drupal{% endtrans %}</h2>
          {% endif %}
        </div>

        <div class="small-12 medium-4 column">
            <div class="callout" data-closable="slide-out-right">
              <h2 class="h4">{% trans %}Vous êtes recruteur{% endtrans %}</h2>
              <p>
                {% trans %}et vous souhaitez voir apparaître votre offre dans l'annuaire&nbsp;?{% endtrans %}
              </p>
              <p>
                <a href="{{ path('node.add', {'node_type' : 'job_offer'}) }}">{% trans %}Créez un compte{% endtrans %}</a> {% trans %}et devenez adhérent dès aujourd'hui&nbsp;!{% endtrans %}
              </p>
              <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

          {{ exposed }}
        </div>
    </header>

    <div class="row">
      <div class="medium-8 column glossaire">
        {{ attachment_before }}

        {% if rows -%}
          {{ rows }}
        {% elseif empty -%}
          {{ empty }}
        {% endif %}
        <div class="columns small-6 medium-6 large-6 small-centered large-centered">
          {{ pager }}
        </div>
        {{ attachment_after }}
        {{ more }}

        {% if footer %}
          <footer>
            {{ footer }}
          </footer>
        {% endif %}

        {{ feed_icons }}

      </div>
    </div>
  </div>
</div>
