{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  'row',
] %}
<div{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('medium-12', 'column', 'organismes') }}>
    {{ title_prefix }}
      {{ title }}
    {{ title_suffix }}

    {% if header %}
      <header>
        <div class="row">
          <h1 class="column">
            {% trans %}L'annuaire des prestataires Drupal en France{% endtrans %}
          </h1>
        </div>

        <div class="row">
          <div class="small-12 medium-8 column">
            <h2 class="h3">
              {% trans %}Vous recherchez un prestataire en France&nbsp;?{% endtrans %}
            </h2>
            <p class="lead">
              <strong>
                {{ header }}
              </strong>
            </p>
            <p>
              <strong class="text-underline">{% trans %}Remarque&nbsp;:{% endtrans %}</strong>
              {% trans %}Cet annuaire est libre d'accès.
              Pensez donc à vérifier par vous-même les références et
              compétences du prestataire que vous choisissez.
              {% endtrans %}
            </p>
          </div>

          <div class="small-12 medium-4 column">
            <div class="callout" data-closable="slide-out-right">
              <h2 class="h6">{% trans %}Vous êtes un prestataire de service Drupal{% endtrans %}</h2>
              <p>
                {% trans %}... et vous voulez apparaître dans l'annuaire&nbsp;?{% endtrans %}
              </p>
              <p>
                <a href="/user/register">{% trans %}Créer un compte{% endtrans %}</a>{% trans %} et devenez adhérent dès aujourd'hui&nbsp;!{% endtrans %}
              </p>
              <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </header>
    {% endif %}

    {{ exposed }}
    <div{{ content_attributes.addClass('medium-12', 'column', 'glossaire') }}>
      {{ attachment_before }}
    </div>

    {% if rows -%}
      {{ rows }}
    {% elseif empty -%}
      {{ empty }}
    {% endif %}
    {{ pager }}

    {{ attachment_after }}
    {{ more }}

    {% if footer %}
      <footer>
        {{ footer }}
      </footer>
    {% endif %}

    {{ feed_icons }}
  </div>
</div>
