{#
/**
 * @file
 * Default theme implementation to display newsletter subscription block.
 *
 * Available variables:
 * - account_hash: The account hash provided by Mailchimp.
 * - mailing_list_hash: The mailing list hash provided by Mailchimp.
 * - anti_spam_token: The anti-spam token provided by Mailchimp.
 *
 * @ingroup themeable
 */
#}
<p>{{ 'Account hash:'|t }} {{ account_hash }}</p>
<p>{{ 'Mailing list hash:'|t }} {{ mailing_list_hash }}</p>
<p>{{ 'Anti-spam token:'|t }} {{ anti_spam_token }}</p>
