{#
/**
 * @file
 * Default theme implementation to meetup events.
 *
 * Available variables:
 * - events: A list of Meetup events provided by the meetup API.
 *
 * @ingroup themeable
 */
#}
{% if events is not empty %}

  {% for event in events %}
    {% set prepared_time = event.time / 1000 %}
    {% set registered_number = event.yes_rsvp_count + event.waitlist_count %}
    <div class="block-meetup--list--element row collapse">
      <div class="block-meetup--list--info-box small-3 medium-2 column">
        <div class="info-box--day">{{ prepared_time|format_date('day') }}</div>
        <div class="info-box--month">{{ prepared_time|format_date('short_month') }}</div>
        <div class="info-box--registered">
          {% trans %}
            {{ registered_number }} registered
          {% plural registered_number %}
            {{ registered_number }} registered
          {% endtrans %}
        </div>
      </div>

      <div class="block-meetup--list--text-box small-9 medium-10 column">
        <h5><a href="{{ event.event_url }}">{{ event.name }}</a></h5>
        <dl class="text-box--list">
          <dt><i class="fa fa-map-marker"></i> </dt>
          <dd>
            {{ event.venue.address_1 }}<br>
            {{ event.venue.city }}
          </dd>

          <dt><i class="fa fa-clock-o"></i></dt>
          <dd>
            {{ prepared_time|format_date('meetup_date') }}
          </dd>
          <dt><i class="fa fa-users"></i></dt>
          <dd>
            {% trans %}
              {{ registered_number }} registered
            {% plural registered_number %}
              {{ registered_number }} registered
            {% endtrans %}
            {% if event.rsvp_limit %}
              {{ 'for'|t }}
              {% trans %}
                {{ event.rsvp_limit }} spot
              {% plural event.rsvp_limit %}
                {{ event.rsvp_limit }} spots
              {% endtrans %}
            {% endif %}
          </dd>
        </dl>
      </div>
    </div>
  {% endfor %}

{% endif %}
