{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

  {{ menus.menu_links(items, attributes, 0, 1) }}


{% macro menu_links(items, attributes, menu_level, top_bar) %}
  {% import _self as menus %}
  {% if items %}
    {% if top_bar %}
      {% if menu_level == 0 %}
        <ul{{ attributes.addClass('menu', 'vertical', 'medium-horizontal', 'main-menu').setAttribute('data-responsive-menu', 'drilldown medium-dropdown') }}>
      {% else %}
        <ul class="submenu menu vertical" data-submenu>
      {% endif %}
    {% else %}
      {% if menu_level == 0 %}
        <ul{{ attributes.addClass('dropdown', 'menu', 'main-menu') }} data-dropdown-menu>
      {% else %}
        <ul{{ attributes.addClass('submenu', menu_level) }}>
      {% endif %}
    {% endif %}
    {% for item in items %}
      {% set item_classes = [ item.below is not empty ? 'has-submenu' ] %}

      <li{{ item.attributes.addClass(item_classes) }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1, top_bar) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
