{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'row',
  'expanded',
  'user--full'
] %}
<article{{ attributes.addClass(classes) }}>
  {% if content %}
    <div class="column user--banner"
         style="background-image: url('{{ content.field_user_banner[0]['#markup'] }}')"
    ></div>

    <div class="row user--head">
      <div class="medium-2 column user--picture">
        {{ content.user_picture }}
      </div>
      <div class="medium-8 column user--infos">
        {{ content.field_user_realname }}
        {{ content.field_user_slogan }}
        {{ content.field_user_organization }}
        <div class="user--social-links">
          {{ content.field_user_website }}
          {{ content.field_user_drupal_org }}
          {{ content.field_user_twitter }}
        </div>
      </div>
      <div class="medium-2 column user--membership">
        {{ content.extra_field_drupalfr_user_member_badge }}
      </div>

      <div class="medium-9 column user--biography">
        {{ content.field_user_biography }}
      </div>

      <div class="medium-3 column user--events">
        {{ content.field_user_event }}
      </div>
    </div>

    <hr class="separator">

    <div class="row">
      <div class="medium-6 column user--feed">
        {{ content.planet_feed_entity_view_1 }}
        {{ content.planet_entity_view_1 }}

      </div>
      <div class="medium-6 column user--forum">
        {{ content.forum_entity_view_1 }}
      </div>
    </div>

    <div class="row user--organization">
      {{ content.field_organization_legal_form }}
      {{ content.field_organization_size }}
      {{ content.field_organization_region }}
      {{ content.field_organization_service_type }}
      {{ content.field_organization_contact_info }}
      {{ content.job_offer_entity_view_organization_job_offer }}
    </div>


    {# {- content|without(
      'field_user_banner',
      'user_picture',
      'field_user_realname',
      'field_user_slogan',
      'field_user_organization',
      'field_user_website',
      'field_user_drupal_org',
      'field_user_twitter',
      'extra_field_drupalfr_user_member_badge',
      'field_user_biography'
    ) -}} #}
    {# 'extra_field_drupalfr_user_member_badge'#}
  {% endif %}
</article>
